body{
    width: 80%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    
}

h1{
    font-size: 3em;
    color: gray;
    font-weight: bold;
    width: 425px;
    display: block;
    border-bottom: 10px solid grey;
}

h2{
    font-size: 36px;
    margin: 20px 0px;
    text-decoration: underline;
}

h1, h2{
    /* text-transform: capitalize; */
    text-transform: uppercase;
}

p{
    letter-spacing: 1px;
    line-height: 1.5em;
}

#contentParagraph1, #contentParagraph2{
    float: left;
    width: 46%;
    padding: 2%;
}

#contentParagraph1{
    background-color: aqua;
}

#contentParagraph2{
    background-color: rgb(240, 127, 52);
}

#contentParagraph3{
    background-color: lightgrey;
    color: white;
    clear: both;
    padding: 2%;
   
}

#content-lien{
    margin: 20px;
    margin-left: 2px;
    font-style: italic;
}

a{
    background-color: rgb(73, 71, 71);
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    font-size: smaller;
    margin: 2px;
}

#contentParagraph4{
    font-weight: bold;
    text-align: center;
}